<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
      <!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
      <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
	<link href="bootstrap.css" type="text/css" media="all" rel="stylesheet">
	 	 
	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	 
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">噗啦噗啦</a>
            <div class="nav-collapse collapse" style="height: 0px;">
                <ul class="nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a target="_blank" href="https://www.baidu.com">baidu</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
        <div class="span8">
            <div id="myCarousel" class="carousel slide">
                <div class="carousel-inner">
                    <div class="item">
                        <a target="_blank" href="/">
                            <img src="/images/pic1.png" alt="test1" style="width: 600px;height: 400px;">
                        </a>
                    </div>

                    <div class="item active">
                        <a target="_blank" href="/about/">
                            <img src="/images/pic2.png" alt="test2" style="width: 600px;height: 400px;">
                        </a>
                    </div>
                </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
            </div>
        </div>
</div>
<script type="text/javascript" src="application.js"></script>
</body>
</html>
