---
layout: default
comments: true
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>
  
   <div class="PageNavigation">
      {% for post in site.categories.[page.category] %}
          {% if post.url == page.url %}
              {% assign post_index0 = forloop.index0 %}
              {% assign post_index1 = forloop.index %}
          {% endif %}
      {% endfor %}
      {% for post in site.categories.[page.category]  %}
          {% if post_index0 == forloop.index %}
              {% assign next_post = post.url %}
          {% endif %}
          {% if post_index1 == forloop.index0 %}
              {% assign prev_post = post.url %}
          {% endif %}
      {% endfor %}
      {% if prev_post %}
          <a href="{{ prev_post }}">上一章</a>
      {% endif %}
      {% if next_post %}
          <a href="{{ next_post }}">下一章</a>
      {% endif %}
    </div>

  <div id="disqus_thread"></div>
  <script>
  var disqus_config = function () {
  this.page.url = "https://avgprpr.github.io{{ page.url }}";  // Replace PAGE_URL with your page's canonical URL variable
  this.page.identifier = "{{ page.id }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
  };
  (function() { // DON'T EDIT BELOW THIS LINE
  var d = document, s = d.createElement('script');
  s.src = 'https://avgprpr.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
 </article>
